* {
  margin: 0;
  padding: 0;
}
.ism {
  height: 75vh;
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}

.banner-imge {
  height: 100%;
  width: 100%;
  object-fit: cover;   
  display: block;
}

@media (min-width: 1950px) {
  .ism {
  height: 90vh;
  width: 100%;
  overflow: hidden;
}

  .banner-imge {
    object-fit: cover; 
    margin-top: 60px;
  }
}


@media (max-width: 1367px) {
  .ism {
    height: auto;        
  }
  .banner-imge {
    height: auto;
    object-fit: contain; 
  }
}

 
.content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

.breadcrumb {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}
.breadcrumb span {
  color: #2563eb;
  font-weight: 600;
}

.content h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content p {
  color: #444;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.content p span {
  font-weight: 600;
}

.btn-container {
  margin-top: 20px;
}

.cta-btn {
  background-color: #e11d48;
  color: #fff;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  background-color: #be123c;
}
.section {
  width: 100%;
  padding: 60px 20px;
  margin-top: 20px;
}

.section .inner {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.dark-section {
  background: #0f172a;
  color: #fff;
  text-align: center;
}

.light-section {
  background: #fff;
  color: #0f172a;
  text-align: center;
}

.section h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 auto 15px auto;
}

.section span {
  font-weight: 600;
}
.benefits-section {
  text-align: center;
  padding: 60px 20px;
  background: #fff;
  color: #0f172a;
  width: 100%;
}

.benefits-section h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  margin-bottom: 40px;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: red;
  color: #fff;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.benefit-item p {
  font-size: 16px;
  font-weight: 500;
  max-width: 250px;
}

.benefit-desc {
  font-size: 16px;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto 15px;
}

.benefit-desc.strong {
  font-weight: 600;
}
